.cuerpoInicio { min-height: 100vh; }
.barraHorizontal { 
  background: #444;
  height: 66px;
  line-height: 66px;
}
.titulo { 
  color: #fff;
  font-size: 1.5em;
  background: #000;
}
.sesion { color: #fff; }
.sesion a {
  color: #fff;
  line-height: 25px;
  margin: 0 25px;
}
.sesion i {  
  font-size: 16px;
  margin-right: 10px;
}
.sesion img { border-radius: 20px; }
.menu {
  color: #fff;
  background: #900;
  height: 100vh;
  transition: all ease .3s;
}
.menu ul { list-style: none; padding: 0 }
.menu ul li { line-height: 66px; }
.menu ul li a {
  color: #FFF;
  font-weight: 600;
  padding: 0 15px;
}
.menu ul li a:hover { color: #Fc3; }
.menu ul li a i { margin-right: 15px; }
.menu ul li ul li {
  background: #730000;
  line-height: 40px;
}
.menu ul li ul li a {
  margin-left: 40px;
  font-weight: normal;
}
.cuerpo h1 { margin-top: 30px; }
.fuente-tabla, .fuente-tabla th {
  font-size: 14px;
  font-weight: 100; }
thead .fuente-tabla th {
  background: #a6a6a6;
}
.flecha { height: 66px; }
.menu ul li.activo>a { color: #fc3;}
.activo { background: #4c0000; }


.subActivo>a>span { font-weight: bold; }
.imgProducto button>img {
  min-width: 38px;
  max-width: 38px;
  min-height: 38px;
  max-height: 38px;
  border: 1px solid #000;
}
.btn-img {
  border: none;
  padding: 0;
  margin: 0;
  height: 38px;
  width: 38px;
  cursor: pointer;
}
