
.icon-cyr-engranajes:before { content: '\e800'; } /* '' */
.icon-cyr-usuarios:before { content: '\e801'; } /* '' */
.icon-cyr-herramientas:before { content: '\e802'; } /* '' */
.icon-cyr-cerrar:before { content: '\e803'; } /* '' */
.icon-cyr-caja:before { content: '\e804'; } /* '' */
.icon-cyr-asistencia:before { content: '\e805'; } /* '' */
.icon-cyr-gorro:before { content: '\e806'; } /* '' */
.icon-cyr-correo:before { content: '\e807'; } /* '' */
.icon-cyr-movil:before { content: '\e808'; } /* '' */
.icon-cyr-ojo:before { content: '\e809'; } /* '' */
.icon-cyr-calidad:before { content: '\e80a'; } /* '' */
.icon-cyr-cohete:before { content: '\e80b'; } /* '' */
.icon-cyr-flecha-der:before { content: '\e80c'; } /* '' */
.icon-cyr-flecha-izq:before { content: '\e80d'; } /* '' */
.icon-cyr-abierto:before { content: '\f068'; } /* '' */
.icon-cyr-cerrado:before { content: '\f069'; } /* '' */
.icon-cyr-estetoscopio:before { content: '\f0f1'; } /* '' */
.icon-cyr-extintor:before { content: '\f134'; } /* '' */
.icon-cyr-youtube:before { content: '\f166'; } /* '' */
.icon-cyr-enviar:before { content: '\f1d8'; } /* '' */
.icon-cyr-whatsapp:before { content: '\f232'; } /* '' */
.icon-cyr-direccion:before { content: '\f277'; } /* '' */
.icon-cyr-fono:before { content: '\f2a0'; } /* '' */
.icon-cyr-twitter:before { content: '\f304'; } /* '' */
.icon-cyr-facebook:before { content: '\f308'; } /* '' */
.icon-cyr-linkedin:before { content: '\f30c'; } /* '' */
.icon-cyr-instagram:before { content: '\f32d'; } /* '' */